* {font-size: 100.01%;}
html {font-size: 62.5%;}

}
html {height:100%;}
body {
	color:#212121;
	font: 1.6em/21px 'Arial';
	background:#FFFDF3;
	min-width:1000px;
}

.add-section .box{
	float:left;
	width:292px;
	margin:0 30px 0 0;
}
.form input[type="submit"]{
	background: url('../images/sprite.png') no-repeat 0 -273px;
	width: 53px;
	height: 47px;
	padding:0;
	margin:0;
	text-indent:-9999px;
	overflow:hidden;
	border:0;
	float:right;
}
.form input[type="submit"]:hover{
	background: url('../images/sprite.png') no-repeat -55px -273px;
	cursor:pointer;
}

/* hide original element */
.jcf-hidden {
	position: absolute !important;
	left: -9999px !important; /* change to right: -9999px on RTL sites */
}
/* custom select styles */
.select-area {
	position: relative;
	overflow: hidden;
	height: 47px;
	float: left;
	cursor:pointer;
	background: rgb(126,126,126);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdlN2U3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ODU4NTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(126,126,126,1) 0%, rgba(88,88,88,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(126,126,126,1)), color-stop(100%,rgba(88,88,88,1)));
	background: -webkit-linear-gradient(top,  rgba(126,126,126,1) 0%,rgba(88,88,88,1) 100%);
	background: -o-linear-gradient(top,  rgba(126,126,126,1) 0%,rgba(88,88,88,1) 100%);
	background: -ms-linear-gradient(top,  rgba(126,126,126,1) 0%,rgba(88,88,88,1) 100%);
	background: linear-gradient(to bottom,  rgba(126,126,126,1) 0%,rgba(88,88,88,1) 100%);
}



.form  select{width:239px;}
.select-area .center {
	white-space: nowrap;
	display:block;
	color:#dbdbdb;
	line-height:47px;
	padding:0 40px 0 15px;
	text-shadow:0 2px 3px rgba( 29, 29, 29, 0.75);
}
.select-select3 .center{
	color:#4d4d4d;
	text-shadow:0 2px 3px rgba( 255, 255, 255, 0.5);
}
.select-area .select-opener {
	position: absolute;
	height: 47px;
	width: 38px;
	right: 0;
	top: 0;
	background: url('../images/sprite.png') no-repeat -224px 12px;
}
.select-select3 .select-opener{background: url('../images/sprite.png') no-repeat -492px 11px;}
.select-active .select-opener{background: url('../images/sprite.png') no-repeat -267px 12px;}
.select-select3.select-active .select-opener{background: url('../images/sprite.png') no-repeat -536px 9px;}
.select-options {
	position: absolute;
	overflow: hidden;
	background: #7e7e7e;
	z-index: 2000;
}
.select-options .drop-holder {
	overflow: hidden;
	height: 1%;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.35), inset 0 2px 2px rgba(0,0,0,0.4);
}
.drop-select3{background:#f4f4f4;}
.drop-select3 .drop-holder{box-shadow: inset 0 0 6px rgba(0,0,0,0.3), inset 0 2px 2px rgba(0,0,0,0.1);}
.select-options ul {
	list-style: none;
	padding:3px 0 0;
	margin: 0;
	text-shadow:0 2px 3px rgba( 29, 29, 29, 0.75);
	overflow:hidden;
}
.select-options ul li {
	width: 100%;
	float: left;
	list-style:none;
}
.select-options ul a {
	text-decoration: none;
	padding: 2px 16px;
	display: block;
	color: #e6e6e6;
}
.drop-select3  ul a{
	color:#545454;
	text-shadow:none;
}
.select-options .item-selected a {
	text-decoration: none;
	background: #696969;
	color: #e6e6e6;
}
.drop-select3 .item-selected a{
	background:#dedede;
	color:#4b4b4b;
	box-shadow:inset 2px 0 1px rgba(0,0,0,0.1), inset -2px 0 1px rgba(0,0,0,0.1);
}









