.header-cont{
    padding-top: 30px;
}
.header-cont h1{
    background: #10181f none repeat scroll 0 0;
    color: #fffdf3;
    display: inline-block;
    font: 40px/42px "Arial";
    margin: 7px 0 18px;
    padding: 10px 18px 10px 15px;
    text-transform: uppercase;    
}

.header-cont h3{
    font: 24px/33px "Arial";
    line-height: 1.329;
    color: #212121;
}
.header-cont p{
    font-size: 112.5%;
    /*color: #c8c8c8;*/
}

.img-content hr{
    border-bottom: 1px solid #c8c8c8;
    margin-top: 13px;
}

.img-content{
    padding-top: 30px;
}
/*.img-content img{
    width: 100%;
}*/